
@font-face{
    font-family: 'Lexend';
    src: url('./Lexend.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

*{
    outline: none;
}

body,html{
    width: 100%;
    height:100%;
    padding: 0%;
    margin: 0%;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
}

#parent{
   width: 100%;
   height: 100%;
}

.home-container{
    position: relative;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    background:url('./home-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.home-container::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(12, 11, 11, 0.678);
}

.home-box{
    position: relative;
    width: 80%;
    height: 90%;
    background-color: aliceblue;
    display: flex;
}

.box-search{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1F20;
    color: aliceblue;
}

.tittle-container, .search-tittle{
    width: 100%;
    height: 14%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend';
    color: rgb(162, 114, 250);
}

.search-tittle{
   
    font-size: 21px;
    height: 7%;
    color: aliceblue;
    text-align: center;
}

.btn{
    margin-top: 18px;
  line-height: 55px;
  padding: 0 40px;
  font-family: 'Lexend';
  font-size: 17px;
  background: rgb(162, 114, 250);
  border: none;
  border-radius: 11px;
  width: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
    background: rgb(187, 164, 230);
  }

.p-details, .summary-box{
    font-family: 'Lexend';
    font-size: 15px;
    text-align: justify;
    padding: 0 15px;
}

.summary-box{
    padding-top: 5px;
}

details{
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1C1F20; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.box-view-container{
    width: 75%;
    height: 100%;
}

.box-view{
    width: 100%;
    height: 100%;
    position: relative;
    background:url('./home-image.jpg');
    background-size: cover;
}

.box-view::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent 0%, black 100%);
    z-index: 2;
}

.data-paint{
    position: absolute;
    bottom: 5px;
    right: 12px;
    font-family: 'Lexend';
    color: white;
    z-index: 3;
}

@media screen and (min-width:1158px) and (max-width: 1327px) {

    .home-box{
        height: 550px;
        width: 1000px;
    }

}


@media screen and (min-width:769px) and (max-width: 1157px) {

    .home-box{
        height: 537px;
        width: 900px;
    }

    .search-tittle {
        font-size: 16px;
    }

    .btn{
        line-height: 45px;
    }

}

@media screen and (min-width:564px) and (max-width: 954px) {

    .home-box{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    
    .box-search{
        width: 100%;
        height: 45%;
    }
    
    .tittle-container, .search-tittle{
        width: 90%;
        height: 28%;
        font-size: 30px;
    }
    
    .search-tittle{
        font-size: 18px;
    }
    
    .btn{
        margin-top: 10px;
      line-height: 40px;
      padding: 0 ;
      font-size: 17px;
      width: 100px;
    }
    
    .box-view-container{
        width: 100%;
        height: 100%;
    }


}


@media only screen and (max-width: 563px) {


.home-box{
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.box-search{
    width: 100%;
    height: 45%;
}

.tittle-container, .search-tittle{
    width: 90%;
    height: 28%;
    font-size: 22px;
}

.search-tittle{
    font-size: 18px;
}

.btn{
    margin-top: 10px;
  line-height: 35px;
  padding: 0 ;
  font-size: 15px;
  width: 100px;
}

.box-view-container{
    width: 100%;
    height: 100%;
}

.p-details, .summary-box{
    font-size: 12px;
}
}